div { 
  display: grid;
  grid-template-columns: 150px auto 50% 1fr;
  grid-template-rows: 150px auto 50% 1fr;
  aligm-items: center;
  background-color: lightpink;
  color: black;
  width: 75%
  heigh: 100px;
  margin: 20PX;
} 

p: { 
  color: black;
}

p:hover { 
  color: black;
}
